<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa cum dolorem aperiam dolorum itaque blanditiis possimus in magnam mollitia iste consequatur exercitationem obcaecati quae praesentium, nesciunt, atque reprehenderit fuga non.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa cum dolorem aperiam dolorum itaque blanditiis possimus in magnam mollitia iste consequatur exercitationem obcaecati quae praesentium, nesciunt, atque reprehenderit fuga non.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa cum dolorem aperiam dolorum itaque blanditiis possimus in magnam mollitia iste consequatur exercitationem obcaecati quae praesentium, nesciunt, atque reprehenderit fuga non.
            </p>
        </ul>
    </div>
</div>
