<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Portfolio</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum in, aspernatur ea doloribus dolor voluptatum odio dolore labore libero iste rem expedita optio aut, error tempore odit nostrum illo necessitatibus.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/proyecto.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>